{% extends "base.html" %}
{% block contents %}

<div class="row">
    <h2 class="mt-5">Board List</h2>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th style="width:10%;">번호</th>
                    <th style="width:20%;">제목</th>
                    <th style="width:30%;">내용</th>
                    <th style="width:20%;">작성자</th>
                    <th style="width:20%;">작성일시</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr>
                    <th scope="row">{{ board.id }}</th>
                    <td>{{ board.title }}</td>
                    <td>{{ board.content }}</td>
                    <td>{{ board.writer }}</td>
                    <td>{{ board.reg_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-2" style="margin-bottom:100px;">
    <div class=col-12>
        <nav aria-label="...">
            <ul class="pagination">
                {% if boards.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ boards.previous_page_number }}" tabindex="-1" aria-disabled="true">
                        Previous
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        Previous
                    </a>
                </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link">
                        {{ boards.number }} / {{ boards.paginator.num_pages }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                {% if boards.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ boards.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}

            </ul>
        </nav>

        <button type="submit" class="btn btn-primary mt-3" onclick="location.href='/board/write'">글쓰기</button>

    </div>
</div>

{%  endblock %}