{% extends "base.html" %}
{% block title %} home {% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
    integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg=="
    crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/dropzone@5.5.1/dist/dropzone.min.js"></script> -->

<script>
    $(document).ready(function () {
        $('#logoutButton').click(function () {
            $.get('/apis/v1/users/logout/',
                {},
                function () {
                    alert('logged out! success')
                })
                .fail(function (data) {
                    alert(data.responseJSON.message);
                })
        })
    });
</script>
{% endblock %}

{% block body %}

HOME

<button id="logoutButton">로그아웃</button>

<!-- <form action="" class="dropzone" id="uploader" style="background-color:whitesmoke;">
    <div class="dz-message" data-dz-message><span>드래그 드랍하거나 클릭하여 이미지 선택</span></div>
    <div class="fallback">
        <input name="file" type="file" />
    </div>
</form>
 -->



{% for content in contents %}
{% for image in content.image_set.all %}
<div class="content">
    <div class="post">
        <div class="text-center user-block">
            <h5 class="text-info left-things">{{ content.user.username }}</h5>
            <img class="img-info img-circle img-bordered-sm" src="{{ image.image.url }}" alt="User Image">
            {% endfor %}
            <div>
                <span class="username left-things">
                    <a href="#" class="text-info">{{ content.user.username }}</a>
                    <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                </span>
            </div>
            <p>{{ content.text }}</p>
        </div>

    </div>
</div>
{% endfor %}

<script>

    // Dropzone.autoDiscover = false;

    // var dropZoneUploader = new Dropzone('form#uploader', {
    //     init: function () {
    //         var dropzone = this;

    //         $('#upload').click(function () {
    //             dropZoneUploader.processQueue();
    //         });

    //         dropzone.on("sending", function (file, xhr, formData) {
    //             formData.append("text", $('#text').val());
    //         });
    //     },
    //     parallelUploads: 10,
    //     autoProcessQueue: false,
    //     type: 'POST',
    //     success: function () {
    //         location.reload();
    //     },
    //     error: function (e) {
    //         console.log(e)
    //         alert('에러가 발생했습니다. 다시 시도해주세요.');
    //     },
    //     acceptedFiles: ".jpeg,.jpg,.png,.gif",
    //     uploadMultiple: true,
    // });


</script>


{% endblock %}