{% extends "base.html" %}
{% block title %} login {% endblock %}

{% block head %}
<script>
    $(document).ready(function () {
        $('#loginButton').click(function () {
            $.post('/apis/v1/users/login/',
                {
                    'username': $('#username').val(),
                    'password': $('#password').val()
                },
                function () {
                    alert('logged in success');
                    window.location = '';
                })
                .fail(function (data) {
                    alert(data.responseJSON.message);
                    // alert('logged in! falied')
                });
        });
    });
</script>
{% endblock %}

{% block body %}

<h2>LOGIN</h2>
<p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
</p>
<p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
</p>
<button id="loginButton">로그인</button>
{% endblock %}