{% extends "base.html" %}
{% block title %} login {% endblock %}

{% block head %}
<script>
    $(document).ready(function () {
        $('#loginButton').click(function () {
            $.post('/apis/v1/users/login/', 
            { 
                'username': $('#username').val(), 
                'password': $('#password').val() 
            }, 
            function () {
                alert('logged in success')
            })
            .fail(function (data) {
                alert(data.responseJSON.message);
                // alert('logged in! falied')
            });
        });
    });
</script>
{% endblock %}

{% block body %}

LOGIN

<!-- <form method="POST" action="">
    {% csrf_token %} -->
    <input type="text" id="username" name="username"/>
    <input type="password" id="password" name="password"/>

    <button id="loginButton">로그인</button> 
<!-- </form> -->

{% endblock %}